body {
    margin: 0;
}

.header {
    background-color: coral;
    padding: 25px;
}

.header h1 {
    color: white;
    text-align: center;
}

.content {
    background-color: darkblue;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.title {
    color: white;
    text-align: center;
}

.footer {
    background-color: darkred;
    padding: 25px;
}

.card {
    width: 350px;
    padding: 15px;
    background-color: gray;
}